$font-default: Helvetica, Arial, sans-serif;
$font-standout: Georgia, serif;
$font-size: 10pt;
$page-margin: 10px;

$color-background: #222;
$color-foreground: invert($color-background);

html{
	margin: $page-margin;
	padding: 0;
}

body {
	background-color: $color-background;
	color: $color-foreground;
	font-size: $font-size;
	font-family: $font-default;
}

ul{
	margin: 0;
	padding: 0;
}

li
{
	list-style: none;
}

//TODO: componentize
footer {
	position: absolute;
	bottom: (0 + $page-margin);
	right: (0 + $page-margin);

	font-size: ($font-size - 2pt);
}

/* Specific Components */
#mainMenu {
	font-family: $font-standout;
	font-size: ($font-size + 2pt);

	&:after{
		clear: both;
		display: block;
		content: "";
	}

	li {
		float: left;
		margin-right: 10px;
	}

	li:last-child {
		margin-right: 0;
	}	
}